<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div data-th-insert="fragments :: base_menu('index')"></div>

    <div id="content">
        <h1>Home Page</h1>
        <p>This is <a href="https://google.com">The Google</a> - visit!</p>
        <p data-th-text="${first}"></p>
        <p data-th-text="${second}"></p>
        <p data-th-text="${third}"></p>
    </div>
</div>

</body>

</html>