<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div id="menubar">
        <div id="menu_main">
            <a data-th-href="@{/home}">Home</a>
            <a data-th-href="@{/register}">Register</a>
            <a data-sec-authorize="!isAuthenticated()" data-th-href="@{/login}">Login</a>
            <p>Lessons</p>
        </div>
        <div id="logout" data-sec-authorize="isAuthenticated()">
            <form data-th-action="@{/logout}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>

    <div id="content">
        <h1>Lessons</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tr data-th-each="lesson : ${lessons}">
                <td><a data-th-href="@{/lessons/{id}(id=${lesson.id})}" data-th-text="${lesson.title}"></a></td>
                <td data-th-text="${lesson.description}"></td>
            </tr>
      </table>

    </div>
</div>

</body>

</html>