<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div data-th-insert="fragments :: base_menu('lessons_one')"></div>

    <div id="content" data-th-object="${lesson}">
        <h1 data-th-text="${lesson} == null ? 'No lesson' : ${lesson.title}"></h1>

        <p data-th-if="${errorMsg} != null" data-th-text="${errorMsg}"></p>

        <div data-th-if="${lesson} != null">
            <div data-th-each="task : ${lesson.tasks}">
                <p data-th-text="${task.question}"></p>
                <ul data-th-each="answer : ${task.answers}">
                    <li>
                        <span data-th-text="${answer.answer.text}"></span>
                        <span data-th-text="' (' + ${answer.isCorrect} + ')'"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>

</html>