<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div data-th-insert="fragments :: base_menu('lessons')"></div>

    <div id="content">
        <h1>Lessons</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tr data-th-each="lesson : ${lessons}">
                <td><a data-th-href="@{/lessons/{id}(id=${lesson.id})}" data-th-text="${lesson.title}"></a></td>
                <td data-th-text="${lesson.description}"></td>
            </tr>
      </table>

    </div>
</div>

</body>

</html>