<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div data-th-insert="fragments :: base_menu('lessons_one')"></div>

    <div id="content">
        <h1 data-th-text="${practice} == null ? 'No lesson' : ${practice.lessonTitle}"></h1>

        <p data-th-if="${errorMsg} != null" data-th-text="${errorMsg}"></p>

        <div data-th-if="${practice} != null">
            <p data-th-text="${practice.next().question}"></p>

            <form data-th-action="@{/lessons/tasks}" method="post">

                <div data-th-each="answer : ${practice.next().answers}">
                    <input type="radio"
                           data-th-name="studentAnswer"
                           data-th-value="${answer.text}"
                           data-th-text="${answer.text}"/>
                </div>

                <input type="submit" value="Next" />

                </form>
        </div>
    </div>

</div>

</body>

</html>