<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div class="form">
        <h1>Change Password</h1>
        <form class="form" data-th-action="@{/users/profile}" method="post">
            <input type="password" data-th-name="newPassword" placeholder="new password">
            <input class="send_button" type="submit" value="Change">
        </form>
    </div>
</div>

</body>

</html>