<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Save user</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">
    <div class="form">
        <h1>New User</h1>
        <form class="form" data-th-action="@{/register}" method="post" data-th-object="${user}">
            <input type="text" data-th-field="*{username}" placeholder="username">
            <input type="password" data-th-field="*{password}" placeholder="password">
            <input class="send_button" type="submit" value="Send">
        </form>
    </div>
</div>

</body>

</html>